@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Cafe24Oneprettynight';
    width: 100%;
    max-width: 420px;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    /* font-size: 10px; */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color: aliceblue;
}
a {
    color: white;
    text-decoration: none;
}
.input {
    font-family: 'Cafe24Oneprettynight';
    height: 32px;
    font-family: 700;
    background-color: #eee;
    font-size: 1.8rem;
    border-radius: 3px;
}
input {
    font-family: 'Cafe24Oneprettynight';
    /* border-style: none; */
}
