.container{
    width: calc(100% - 20px);
    /* min-height: 100vh; */
    position: relative;
    /* font-size: 1.6rem; */
    display:flex;
    flex-wrap: wrap-reverse;
    /* gap: 0.8rem; */
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.postWrapper {
    position:relative;
    width: 25%;
    /* width: calc(30% - 3rem); */
    min-width: 120px;
    /* flex-basis: 30%; */
    flex-grow: 0;
    /* margin: 0.5rem 0.5rem 0.5rem 0.5rem; */
    /* transform: translateY(50px) */
}
.postWrapper:hover {
    /* width: calc(50% - 3rem); */
    width: 28%;
    background-color: #eee;
}
/* .postWrapper:hover{
    padding:0;
    width: 30%;
    transition: 0.3s ease-out;
} */
.pic img{
    width: 100%;
    overflow: hidden;
}
.inner {
    position:absolute;
    left:50%;
    bottom: 20%;
    transform: translate(-50%, 0);
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.writeBtn {
    position:fixed;
    /* margin: 0 auto; */
    /* right:0; */
    left: 50%;
    bottom: 0;
    width: 50%;
    transform:translateY(80%);
    /* height: 60px; */
    max-width: 210px;
    cursor: pointer;
    /* object-fit: contain; */
}
.writeBtn:hover {
    transition: 0.2s;
    transform: translateY(70%);
}
.crying{
    width: 50%;
    max-width: 210px;
    position: fixed;
    bottom: 0;
    pointer-events:none;
}

.header{
    /* position:fixed; */
    display:flex;
    max-width: 420px;
    width: 100%;
    height: 26vh;
    max-height: 600px;
    /* transform:translateX(-10px); */
    /* top: 0; */
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}
.title{
    color: #eee;
    font-size: 2rem;
}
.yb{
    width: 100%;
    height: 30vh;
    display: flex;
    max-height: 600px;
}
.term {
    display: none;
}
.createForm{
    position:fixed;
    width: 80%;
    height: auto;
    max-width: 360px;
    margin: 0 auto;
    left:0;
    right:0;
    bottom:10vh;
    opacity: 0;
    visibility: hidden;
    /* display:none; */
    z-index: 400;
    flex-direction: column;
    transition: 0.3s;
    justify-content: center;
    pointer-events: none;
}

.createOpen{
    visibility: visible;
    transition: 0.6s;
    transition-delay: 0.3s;
    display:flex;
    opacity: 1;
    pointer-events: auto;
}
.modal{
    left: 0;
    right: 0;
    max-width: 420px;
    transform: translateY(20px);
    max-height: 80vh;
    width: 100%;
    cursor: default;
    transition: 0.3s;
    margin: 0 auto;

    z-index: 3;
}
.modal:hover{
    transform: translateY(20px);
}