select{
    height: 36px;
    font-family: 700;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #eee;
    margin-bottom: 30px ;
    border: 2px solid #000;
    border-radius: 3px;
}

.container{
    width: calc(100% - 20px);
    /* min-height: 100vh; */
    position: relative;
    /* font-size: 1.6rem; */
    display:flex;
    flex-wrap: wrap-reverse;
    /* gap: 0.8rem; */
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.postWrapper {
    cursor: pointer;
    position:relative;
    width: 25%;
    /* width: calc(30% - 3rem); */
    min-width: 120px;
    /* flex-basis: 30%; */
    flex-grow: 0;
    /* margin: 0.5rem 0.5rem 0.5rem 0.5rem; */
    /* transform: translateY(50px) */
}
.postWrapper:hover {
    /* width: calc(50% - 3rem); */
    width: 28%;
    background-color: #eee;
}
/* .postWrapper:hover{
    padding:0;
    width: 30%;
    transition: 0.3s ease-out;
} */
.pic img{
    width: 100%;
    overflow: hidden;
}
.inner {
    color: white;
    position:absolute;
    left:50%;
    bottom: 20%;
    transform: translate(-50%, 0);
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.writeBtn {
    position:fixed;
    /* margin: 0 auto; */
    /* right:0; */
    left: 50%;
    bottom: 0;
    width: 50%;
    transform:translateY(80%);
    /* height: 60px; */
    max-width: 210px;
    cursor: pointer;
    /* object-fit: contain; */
}
.writeBtn:hover {
    transition: 0.2s;
    transform: translateY(70%);
}
.crying{
    width: 50%;
    max-width: 210px;
    position: fixed;
    bottom: 0;
    pointer-events:none;
}

.header{
    /* position:fixed; */
    display:flex;
    color: #eee;
    flex-direction: column;
    max-width: 420px;
    width: calc(100% - 2rem);
    height: 200px;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1rem ridge #916346;
}
.title{
    color: #eee;
    font-size: 2rem;
    line-height: 140%;
}
.info{
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.info span{
    cursor: pointer;
    padding-right: 2rem;
}
.yb{
    width: 100%;
    height: 30vh;
    display: flex;
    max-height: 600px;
}
.term {
    display: none;
}
.createForm{
    position:fixed;
    width: 80%;
    height: auto;
    max-width: 360px;
    max-height: 70vh;
    overflow: scroll;
    margin: 0 auto;
    left:0;
    right:0;
    bottom:10vh;
    visibility: hidden;
    opacity: 0;
    /* display:none; */
    z-index: 400;
    flex-direction: column;
    transition: 0.3s;
    justify-content: center;
    pointer-events: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.createForm::-webkit-scrollbar{
    display:none;
}
.createOpen{
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
    transition-delay: 0.3s;
    display:flex;
    pointer-events: auto;
}
.modal{
    left: 0;
    right: 0;
    max-width: 420px;
    transform: translateY(20px);
    max-height: 90vh;
    width: 100%;
    cursor: default;
    transition: 0.3s;
    margin: 0 auto;

    z-index: 3;
}
.modal:hover{
    transform: translateY(20px);
}
.subtitle {
    font-size: 1.8rem;
    font-weight: 700;
}
.submit{
    height: 48px;
    font-size: 1.2rem;
    font-weight: 700;
    border-style: 2px solid #000;
    cursor: pointer;
    border-radius: 3px;
    background-color: #eee;
    margin-bottom: 20px;
}
.submit:hover{
    background-color:beige;
}
.blackBG{
    position:fixed;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    left:0;
    right:0;
    top:0;
    opacity: 0.7;
    display:none;
    z-index: 2;
    background-color: #000;
}
.blackOpen{
    display: block;
}

.modalPic {
    display: flex;
    justify-content: center;
}
.modalPic img{
    width: 80%;
    overflow: hidden;
    object-fit: cover;
}
.detailWrapper {
    display:flex;
    flex-direction: column;
    color: white;
    position:absolute;
    left:50%;
    bottom: 25%;
    transform: translate(-50%, 0);
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    white-space: normal;
}
.detailWrapper > span{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.detailContainer{
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 600;
    display:flex;
    visibility: hidden;
    opacity: 0;
    max-width: 420px;
    transition: 0.3s;
}
.detailOpen{
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
    transition-delay: 0.1s;
    pointer-events: auto;
}
.closeBtn{
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 4vh;
    /* left: 80vw; */
    z-index: 600;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    color:white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 3rem;
    pointer-events: none;
    font-weight: 700;
}
.closeBtnContent{
    pointer-events: auto;
    cursor: pointer;
    margin-right: 2rem;
}
.closeBtnContent:hover{
    font-size: 3.4rem;
}
.openCloseBtn{
    visibility: visible;
    opacity: 1;
}
#Dsubject{
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}
.addText{
    position:fixed;
    left: 50%;
    bottom: 6px;
    width: 50%;
    text-align: center;
    max-width: 210px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    pointer-events:none;
}

.infoModal{
    width: 80%;
    max-width: 336px;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50vh;
    left:50%;
    border-radius: 4px;
    transform: translate(-50%,-50%);
    z-index: 600;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background-color: white;
}
.infoModal > img{
    width: 40%;
    margin-top: 3rem;
}
.openInfoModal{
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
    display:flex;
    pointer-events: auto;
}
.infoContent{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    word-break: keep-all;
}