{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>성적분향소</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="학점 분향소" />
    <meta property="og:description" content="돌아가신 학점들의 명복을 비는 학점 합동 분향소입니다." />
    <meta property="og:image" content="{% static 'img/crying-gif.gif' %}" />
    <meta name="Keywords" content="학점 분향소, 성적 분향소, 학점 장례식, 성적 장례식, 학점 망함" />
    <meta name="keywords" content="학점 분향소, 성적 분향소, 학점 장례식, 성적 장례식, 학점 망함" />
    <meta name="Description" content="돌아가신 학점들의 명복을 비는 학점 합동 분향소입니다." />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css"/>
    {% block style %}
   
   
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}  
</body>
</html>