{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'detail.css' %}" type="text/css"/>

<div class="container">
        <a href="javascript:history.back();" class="back">뒤로가기</a>
        <div class="postWrapper">
                <div class="pic"><img src="{% static 'img/burner-apng.png' %}"></div>
                <div class="inner">
                        <div>상주 : <br/>{{post.username}}</div>
                        <div>과목명 : <br/>{{post.subject}}</div>
                        <div>학점: <br/>{{post.grade}}</div>
                        <!-- <p>{{post.term}}</p> -->
                </div>
        </div>

        <img class="crying"src="{% static 'img/crying-gif.gif' %}"/>
</div>

{% endblock %} 