{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}" type="text/css"/>
<div class="detailContainer"></div>
<div class="closeBtn">
    <div class="closeBtnContent" onclick="closeModal()">
        X
    </div>
</div>
<div class="header">
    <div class="title">
        2022년 1학기<br/>{{ postlist | length}} 과목 <br/> 학점 합동 분향소
    </div>
    <div class="info"><span onclick="openInfo()">개발자 정보 -></span></div>
</div>
<div class="ad_banner">
    <ins class="kakao_ad_area" style="display:none;" 
    data-ad-unit    = "DAN-xuBJ0bGaRyGV88LQ" 
    data-ad-width   = "320" 
    data-ad-onfail   = "adError1"
    data-ad-height  = "100"></ins> 
   <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>
<div class="infoModal">
    <img src="{% static 'img/crying-gif.gif' %}"/><br/>
    <div class="infoTitle"> </div>
        <div class="infoContent">
            <span>개발자:<br/> 김지성<br/>(고려대 영문 21, NEXT X Likelion 9기)</span>
            <br/><span>개발자 연락처:<br/> jiseong0173@gmail.com</span>
            <br/><span>vanilla JS + django + mysql</span>
            <br/><span>광고 문의 대환영</span>
        </div>

</div>

<div class="container">
    {% for list in postlist %}

    <div class="postWrapper" onclick="openDetail({{list.pk}})">
        {% comment %} <!-- <a href="{% url 'detail' pk=list.pk %}"> --> {% endcomment %}
            <div class="inner">{{list.subject}}</div>
            <div class="pic"><img src="{% static 'img/burner-apng.png' %}"></div>
        {% comment %} <!-- </a> --> {% endcomment %}
    </div>
    {% endfor %}

    <!-- 새로고침 방지 이걸로도 가능 onsubmit="return false;"  -->
</div>
<form  id="feed-create" method="post" class="createForm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="ad_banner">
        <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-MkKtcCZQntiBxz3B" 
        data-ad-width   = "320" 
        data-ad-onfail   = "adError3"
        data-ad-height  = "100"></ins> 
       <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="subtitle">닉네임</div>
    <input class="username input" maxlength='8' id="username"type="text" name="username" required>
    <div class="subtitle">과목명</div>
    <input class="subject input" maxlength='16' id="subject"name="subject" required></input>
    <div class="subtitle">학점</div>
    <!-- <input class="grade" name="grade"></input><br> -->
    <select name="grade input" id="grade"class="grade" default="F" required>
        <option value="">학점을 선택하세요</option>
        <option value="B0">B0</option>
        <option value="B-">B-</option>
        <option value="C+">C+</option>
        <option value="C0">C0</option>
        <option value="C-">C-</option>
        <option value="D+">D+</option>
        <option value="D0">D0</option>
        <option value="D-">D-</option>
        <option value="F">F</option>
        <option value="NP">NP</option>
        <option value="망했어요">그냥 망했어요</option>
    </select>
    <input class="term input" id="term" name="term" value="2022-1"></input><br>
    <input class="submit" type="submit" value="버튼을 눌러 조의를 표하십시오">
    {% comment %} <input  class="close submit" onclick="closeModal()" type="button" value="닫기"> {% endcomment %}
</form>
<img id="writeBtn" class="writeBtn"src="{% static 'img/cover.png' %}" onclick="openModal()"><div class="addText">추가하기</div></img>
<img class="crying"src="{% static 'img/crying-gif.gif' %}"></img>

<div class="ad_banner">
    <ins class="kakao_ad_area" style="display:none;" 
    data-ad-unit    = "DAN-4fe1lgv7aLAIIp8a" 
    data-ad-width   = "300" 
    data-ad-onfail   = "adError2"
    data-ad-height  = "250"></ins> 
   <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>

<div class="yb"></div>
<div class="blackBG" onclick="closeModal()"></div>



{% comment %} script----------------------------------- {% endcomment %}
<script>
function adError1(arg1) {
    console.log("header 광고 로드 실패")
}
function adError2(arg1) {
    console.log("footer 광고 로드 실패")
}
function adError3(arg1) {
    console.log("modal 광고 로드 실패")
}
const body = document.querySelector('body');
let scrollPosition = 0;
var pk = null;
{% comment %} console.log(scrollPosition) {% endcomment %}

function openDetail(gotpk){
    var template = 0
    {% comment %} console.log(gotpk) {% endcomment %}
    pk = gotpk
    if (pk != null){
        $.ajax({
        url: "detail_ajax/"+gotpk,
        async: false,
        type: "GET",
        dataType: "json",
        success: (data) => {
            {% comment %} console.log(data); {% endcomment %}
            template = `
            <div class="modalPic"><img src="{% static 'img/burner_default.png' %}"></div>
            <div class="detailWrapper">
                <span id="Dsubject">${data.subject}</span>
                <span id="Dusername">상주: ${data.username}</span>
                <span id="Dgrade">학점: ${data.grade}</span>
            </div>
            `
        },
        error: (error) => {
            console.log(error);
        }
        });
        modal = document.querySelector(".detailContainer")
        modal.innerHTML = template
        {% comment %} console.log(modal) {% endcomment %}
    }
    
    else{
        console.log("pk error. current pk == null")
    }
    scrollPosition = window.pageYOffset;
    body.style.overflow = 'hidden';
    body.style.top = `-${scrollPosition}px`;
    body.style.width = '100%';
    document.querySelector('.closeBtn').classList.add('openCloseBtn');
    document.querySelector('.blackBG').classList.add('blackOpen');
    document.querySelector('.detailContainer').classList.add('detailOpen');

}
function openInfo() {
    scrollPosition = window.pageYOffset;
    body.style.overflow = 'hidden';
    body.style.top = `-${scrollPosition}px`;
    body.style.width = '100%';
    document.querySelector('.infoModal').classList.add('openInfoModal');
    document.querySelector('.blackBG').classList.add('blackOpen');
    document.querySelector('.closeBtn').classList.add('openCloseBtn');
}


function openModal() {// 모달 오픈
  document.getElementById('writeBtn').classList.add('modal');
  document.getElementById('feed-create').classList.add('createOpen');
  document.querySelector('.blackBG').classList.add('blackOpen');
  document.querySelector('.closeBtn').classList.add('openCloseBtn');
  scrollPosition = window.pageYOffset;
  body.style.overflow = 'hidden';
  body.style.top = `-${scrollPosition}px`;
  body.style.width = '100%';
  console.log(scrollPosition)
}
function closeModal() {// 모달 닫기
  document.getElementById('writeBtn').classList.remove('modal');
  document.getElementById('feed-create').classList.remove('createOpen');
  document.querySelector('.detailContainer').classList.remove('detailOpen');
  document.querySelector('.blackBG').classList.remove('blackOpen');
  document.querySelector('.closeBtn').classList.remove('openCloseBtn');
  document.querySelector('.infoModal').classList.remove('openInfoModal');

  body.style.removeProperty('overflow');
//   body.style.removeProperty('position');
  body.style.removeProperty('top');
  body.style.removeProperty('width');
  window.scrollTo(0, scrollPosition);
}





    // 피드 추가 부분
    $('#feed-create').submit((event) => {
    {% comment %} event.preventDefault()  {% endcomment %}
    {% comment %} 새로고침 방지 {% endcomment %}
    var form = $("#feed-create")[0];
    var form_data = new FormData(form);
    username = $("#username").val();
    subject = $("#subject").val();
    grade = $("#grade").val();
    term = $("#term").val();

    form_data.append("username", username);
    form_data.append("subject", subject);
    form_data.append("grade", grade);
    form_data.append("term", term);
    $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: 'new_post/',
        data: form_data,
        processData: false,
        contentType: false,

        // success: function (data) {
        //     console.log("success")
        // }, 
        // beforeSend: function () {
        //     console.log("beforesend")
        // },
        // complete: function () {
        //     console.log("complete")
        // },
        // error: function (e) {
        //     console.log("error", e);
        // }
    });
})
</script>
{% endblock %} 